### Package

The goal of the [Package Group](https://about.gitlab.com/handbook/engineering/development/ops/package/) is to build a product, that within three years, is our customer's single source of truth for storing and distributing images and packages.

You can read more about the [Package stage plan](/direction/package/) on the [Package Direction page](/direction/package/).

The [Package stage](/direction/package) is made up of several categories:

#### Package Stage Categories
<%= partial("direction/categories-content", :locals => { :stageKey => "package" }) %>

#### Pricing
<%= partial("direction/ops/tiering/package") %>
