:markdown
  ### Responsibilities

  Our build team closely partners with the rest of the engineering organization to build, configure, and automate GitLab installation. GitLab's build team is tasked with creating a seamless installation experience for customers and community users. [GitLab Omnibus]() project enables our users to install, upgrade, and use GitLab easily, and the build team's primary goal is maintaining and improving Omnibus and the infrastructure around it.

  Build engineering is interlaced with the broader development team in supporting newly created features and resolving bugs on the omnibus-gitlab project side. Notably, the infrastructure team is the build team's biggest internal customer, so there is significant team interdependency. This team also provides significant variety in tasks and access to a diversity of projects, including helping out on various community packaging projects, etc.

  For a better understanding of how we work, check out the our handbook under [GitLab Workflow.](/handbook/communication/#prioritize)
